// Variables
$web-header-background: $color-dark-blue;
$web-header-color: $color-light-blue;

// Styles

.web-header {
	top: 0px; left: 0px;
	z-index: 99;
	position: fixed;
	width: 100%;
	height:50px;
	background: $web-header-background;
	color: $web-header-color;
	text-align: center;
	text-transform: uppercase;
	.web-title {
		font-size: $font-size-base + 4px;
		text-shadow: 1px 1px 0px darken($web-header-color, 70%);
		padding: 2px;
	}
}